<div class="h4"><%= @restaurant.name %></div>
<div><%= @restaurant.category %></div>
<div class="pb-2 border-bottom"><%= @restaurant.address %></div>
<div class="h4 mt-2 border-bottom pb-2">Reviews</div>
<div>
  <% @reviews.each do |review| %>
  <div class="d-flex border-bottom pb-2 justify-content-between align-items-center">
    <div>
      <div class="mt-2"><%= review.content %></div>
      <div>Rating: <%= review.rating %></div>
    </div>
    <%= link_to review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'h3' do %>
    <i class="fa-regular fa-trash-can" style="color: #df0c21;"></i>
    <% end %>
  </div>
  <% end %>
</div>
<%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary mt-2' %>
